@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
.seach {
  display: flex;
  margin-bottom: 20px;
}

// 滚动条样式
// 滚动条整体
::-webkit-scrollbar {
  z-index: 50;
  width: 6px;
  height: 6px;
}

// 滚动条滑道
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15);
}

// 滚动滑块样式
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  height: 20px;
}

// 滚动条的样式，是可以跟 :hover 伪类叠加使用的
// 滚动条鼠标悬浮时的样式
:hover::-webkit-scrollbar-thumb {
  transition: all 0.2s;
}

// 滚动条上下的箭头按钮
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}
